[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/ipyn"]
	path = plugins/ipyn
	url = git://github.com/danielfrg/pelican-ipynb.git
